In [1]:
import requests 
from bs4 import BeautifulSoup

In [31]:
url = "https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000"
htmlText = requests.get(url).text
bsoup = BeautifulSoup(htmlText, "html.parser")
btab = bsoup.find_all("tbody")
btrs = btab[1].find_all("tr")
# btrs = btab.find_all("tbody")
# btdcols = btrs[3].find_all("th")
# btds = btrs[3].find_all("td")

In [36]:
btrs

[<tr class="sumline_cmn_top">
 <th scope="row">합계</th>
 <td class="d_num">

                     4,043
                 </td>
 <td class="d_num">

                     15,340,827
                 </td>
 <td class="d_num">

                     86,635
                 </td>
 <td class="d_num">

                     5,156,549
                 </td>
 </tr>,
 <tr>
 <th scope="row">서울</th>
 <td class="ta_r">1,642</td>
 <td class="ta_r">2,838,855</td>
 <td class="ta_r">18,865</td>
 <td class="ta_r">964,356</td>
 </tr>,
 <tr>
 <th scope="row">부산</th>
 <td class="ta_r">431</td>
 <td class="ta_r">1,102,085</td>
 <td class="ta_r">8,869</td>
 <td class="ta_r">348,253</td>
 </tr>,
 <tr>
 <th scope="row">대구</th>
 <td class="ta_r">79</td>
 <td class="ta_r">652,022</td>
 <td class="ta_r">3,925</td>
 <td class="ta_r">214,869</td>
 </tr>,
 <tr>
 <th scope="row">인천</th>
 <td class="ta_r">76</td>
 <td class="ta_r">803,775</td>
 <td class="ta_r">4,687</td>
 <td class="ta_r">256,066</td>
 </tr>,
 <tr>
 <th scope="row">광주</th>
 <td class="ta_r">139</td>
 <td class="ta_r">430,080</td>
 <td class="ta_r">429</td>
 <td class="ta_r">148,472</td>
 </tr>,
 <tr>
 <th scope="row">대전</th>
 <td class="ta_r">42</td>
 <td class="ta_r">408,215</td>
 <td class="ta_r">1,307</td>
 <td class="ta_r">137,644</td>
 </tr>,
 <tr>
 <th scope="row">울산</th>
 <td class="ta_r">26</td>
 <td class="ta_r">296,472</td>
 <td class="ta_r">1,564</td>
 <td class="ta_r">89,295</td>
 </tr>,
 <tr>
 <th scope="row">세종</th>
 <td class="ta_r">8</td>
 <td class="ta_r">78,030</td>
 <td class="ta_r">273</td>
 <td class="ta_r">25,661</td>
 </tr>,
 <tr>
 <th scope="row">경기</th>
 <td class="ta_r">378</td>
 <td class="ta_r">3,501,733</td>
 <td class="ta_r">17,669</td>
 <td class="ta_r">1,163,425</td>
 </tr>,
 <tr>
 <th scope="row">강원</th>
 <td class="ta_r">121</td>
 <td class="ta_r">553,672</td>
 <td class="ta_r">3,542</td>
 <td class="ta_r">183,883</td>
 </tr>,
 <tr>
 <th scope="row">충북</th>
 <td class="ta_r">51</td>
 <td class="ta_r">520,689</td>
 <td class="ta_r">1,775</td>
 <td class="ta_r">175,815</td>
 </tr>,
 <tr>
 <th scope="row">충남</th>
 <td class="ta_r">89</td>
 <td class="ta_r">690,514</td>
 <td class="ta_r">5,302</td>
 <td class="ta_r">245,827</td>
 </tr>,
 <tr>
 <th scope="row">전북</th>
 <td class="ta_r">114</td>
 <td class="ta_r">656,455</td>
 <td class="ta_r">4,330</td>
 <td class="ta_r">233,257</td>
 </tr>,
 <tr>
 <th scope="row">전남</th>
 <td class="ta_r">161</td>
 <td class="ta_r">721,691</td>
 <td class="ta_r">3,912</td>
 <td class="ta_r">260,697</td>
 </tr>,
 <tr>
 <th scope="row">경북</th>
 <td class="ta_r">127</td>
 <td class="ta_r">878,696</td>
 <td class="ta_r">4,589</td>
 <td class="ta_r">304,862</td>
 </tr>,
 <tr>
 <th scope="row">경남</th>
 <td class="ta_r">151</td>
 <td class="ta_r">1,010,027</td>
 <td class="ta_r">4,669</td>
 <td class="ta_r">337,778</td>
 </tr>,
 <tr>
 <th scope="row">제주</th>
 <td class="ta_r">408</td>
 <td class="ta_r">197,816</td>
 <td class="ta_r">928</td>
 <td class="ta_r">66,389</td>
 </tr>]

In [37]:
btrs[1]

<tr>
<th scope="row">서울</th>
<td class="ta_r">1,642</td>
<td class="ta_r">2,838,855</td>
<td class="ta_r">18,865</td>
<td class="ta_r">964,356</td>
</tr>

In [38]:
vaccine = []

for td in btrs[1:] :
    dic= {}
    tds = td.find_all("th")
    tdr = td.find_all("td")
    dic['city'] = tds[0].text
    dic['first_vaccine'] = tdr[1].text
    dic['second_vaccine'] = tdr[3].text
    vaccine.append(dic)

In [39]:
vaccine

[{'city': '서울', 'first_vaccine': '2,838,855', 'second_vaccine': '964,356'},
 {'city': '부산', 'first_vaccine': '1,102,085', 'second_vaccine': '348,253'},
 {'city': '대구', 'first_vaccine': '652,022', 'second_vaccine': '214,869'},
 {'city': '인천', 'first_vaccine': '803,775', 'second_vaccine': '256,066'},
 {'city': '광주', 'first_vaccine': '430,080', 'second_vaccine': '148,472'},
 {'city': '대전', 'first_vaccine': '408,215', 'second_vaccine': '137,644'},
 {'city': '울산', 'first_vaccine': '296,472', 'second_vaccine': '89,295'},
 {'city': '세종', 'first_vaccine': '78,030', 'second_vaccine': '25,661'},
 {'city': '경기', 'first_vaccine': '3,501,733', 'second_vaccine': '1,163,425'},
 {'city': '강원', 'first_vaccine': '553,672', 'second_vaccine': '183,883'},
 {'city': '충북', 'first_vaccine': '520,689', 'second_vaccine': '175,815'},
 {'city': '충남', 'first_vaccine': '690,514', 'second_vaccine': '245,827'},
 {'city': '전북', 'first_vaccine': '656,455', 'second_vaccine': '233,257'},
 {'city': '전남', 'first_vaccine': '721,691', 'second_vaccine': '260,697'},
 {'city': '경북', 'first_vaccine': '878,696', 'second_vaccine': '304,862'},
 {'city': '경남', 'first_vaccine': '1,010,027', 'second_vaccine': '337,778'},
 {'city': '제주', 'first_vaccine': '197,816', 'second_vaccine': '66,389'}]

In [42]:
from tkinter import Tk, ttk, Label, Button, Text, END

window = Tk()
window.title("백신 접종 현황")
window.geometry("400x400")
window.resizable(0,0) #사이즈 조정 안되게함

title="코로나19 예방접종 누계" 
title_feature = Label(window, text = title, font = ("Calibri", 20))
title_feature.pack(padx = 10, pady = 15) #위치 지정

treeTable = ttk.Treeview(window)
treeTable["columns"] = ("city", "first_vaccine", "second_vaccine")
treeTable.column("#0", width = 50, anchor = "center")
treeTable.column("city", width = 50, anchor = "center")
treeTable.column("first_vaccine", width = 50, anchor = "center")
treeTable.column("second_vaccine", width = 50, anchor = "center")

treeTable.heading("#0", text="No.", anchor = "center")
treeTable.heading("city", text="시도별", anchor = "center")
treeTable.heading("first_vaccine", text="1회차 접종", anchor = "center")
treeTable.heading("second_vaccine", text="2회차 접종", anchor = "center")

def setTableItem() :
    treeTable.delete(*treeTable.get_children())
    for idx, report in enumerate(vaccine) :
        city = report['city']
        first_vaccine = report['first_vaccine']
        second_vaccine = report['second_vaccine']
        treeTable.insert("", 'end', iid = None, text = str(idx), values = [city, first_vaccine, second_vaccine])
        
setTableItem()
        
treeTable.place(x=10, y=90, width=380, height=200)

window.mainloop()

In [43]:
import csv
import matplotlib.pyplot as plt

In [117]:
with open('./행정구역_시군구_별__성별_인구수_20210701145504.csv', encoding = 'cp949') as csvfile:
    data = csv.DictReader(csvfile)
    a
    for i in data:
        a = i

In [118]:
i

{'행정구역(시군구)별': '제주특별자치도',
 '2021. 03': '335768',
 '2021. 04': '336062',
 '2021. 05': '336311'}