In [94]:
import requests 
from bs4 import BeautifulSoup

In [95]:
url = "https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000"
htmlText = requests.get(url).text
bsoup = BeautifulSoup(htmlText, "html.parser")
btab = bsoup.find_all("tbody")
btrs = btab[1].find_all("tr")
# btrs = btab.find_all("tbody")
# btdcols = btrs[3].find_all("th")
# btds = btrs[3].find_all("td")

In [96]:
vaccine = []

for td in btrs[1:] :
    dic= {}
    tds = td.find_all("th")
    tdr = td.find_all("td")
    dic['city'] = tds[0].text
    dic['first_vaccine'] = tdr[1].text
    dic['second_vaccine'] = tdr[3].text
    vaccine.append(dic)

In [97]:
vaccine

[{'city': '서울', 'first_vaccine': '2,838,855', 'second_vaccine': '964,356'},
 {'city': '부산', 'first_vaccine': '1,102,085', 'second_vaccine': '348,253'},
 {'city': '대구', 'first_vaccine': '652,022', 'second_vaccine': '214,869'},
 {'city': '인천', 'first_vaccine': '803,775', 'second_vaccine': '256,066'},
 {'city': '광주', 'first_vaccine': '430,080', 'second_vaccine': '148,472'},
 {'city': '대전', 'first_vaccine': '408,215', 'second_vaccine': '137,644'},
 {'city': '울산', 'first_vaccine': '296,472', 'second_vaccine': '89,295'},
 {'city': '세종', 'first_vaccine': '78,030', 'second_vaccine': '25,661'},
 {'city': '경기', 'first_vaccine': '3,501,733', 'second_vaccine': '1,163,425'},
 {'city': '강원', 'first_vaccine': '553,672', 'second_vaccine': '183,883'},
 {'city': '충북', 'first_vaccine': '520,689', 'second_vaccine': '175,815'},
 {'city': '충남', 'first_vaccine': '690,514', 'second_vaccine': '245,827'},
 {'city': '전북', 'first_vaccine': '656,455', 'second_vaccine': '233,257'},
 {'city': '전남', 'first_vaccine': '721,691', 'second_vaccine': '260,697'},
 {'city': '경북', 'first_vaccine': '878,696', 'second_vaccine': '304,862'},
 {'city': '경남', 'first_vaccine': '1,010,027', 'second_vaccine': '337,778'},
 {'city': '제주', 'first_vaccine': '197,816', 'second_vaccine': '66,389'}]

In [98]:
import pandas as pd
df = pd.read_csv("행정구역_시군구_별__성별_인구수_20210701145504.csv", header=1, encoding= 'cp949')
population = df[1:]
population

,행정구역(시군구)별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명).1,남자인구수 (명).1,여자인구수 (명).1,총인구수 (명).2,남자인구수 (명).2,여자인구수 (명).2
1,서울특별시,9598484,4667524,4930960,9588711,4661711,4927000,9575355,4654720,4920635
2,부산광역시,3372399,1651804,1720595,3369704,1650252,1719452,3367334,1648965,1718369
3,대구광역시,2408875,1188070,1220805,2406296,1186663,1219633,2402940,1184977,1217963
4,인천광역시,2936461,1470750,1465711,2936214,1470490,1465724,2936382,1470528,1465854
5,광주광역시,1445473,715226,730247,1444787,714834,729953,1443154,714101,729053
6,대전광역시,1458463,728075,730388,1457619,727522,730097,1457161,727279,729882
7,울산광역시,1129254,580424,548830,1128163,579853,548310,1127175,579316,547859
8,세종특별자치시,360462,180030,180432,361396,180462,180934,362036,180778,181258
9,경기도,13465837,6776866,6688971,13479798,6784466,6695332,13488910,6789327,6699583
10,강원도,1536399,773248,763151,1536175,773037,763138,1535491,772893,762598
11,충청북도,1595714,809457,786257,1596303,809679,786624,1596955,809946,787009
12,충청남도,2115823,1080841,1034982,2116452,1081275,1035177,2117260,1081854,1035406
13,전라북도,1797450,893974,903476,1796331,893415,902916,1794682,892833,901849
14,전라남도,1844811,927884,916927,1844148,927667,916481,1842423,927074,915349
15,경상북도,2635563,1327990,1307573,2635896,1328240,1307656,2633592,1327307,1306285
16,경상남도,3330463,1677021,1653442,3329623,1676550,1653073,3327298,1675389,1651909
17,제주특별자치도,673974,338206,335768,674484,338422,336062,674877,338566,336311

In [99]:
import numpy as np
np.array(population['총인구수 (명)'].tolist())
list(np.array(population['총인구수 (명)'].tolist()))
list_population = list(np.array(population['총인구수 (명)'].tolist()))
list_population

[9598484,
 3372399,
 2408875,
 2936461,
 1445473,
 1458463,
 1129254,
 360462,
 13465837,
 1536399,
 1595714,
 2115823,
 1797450,
 1844811,
 2635563,
 3330463,
 673974]

In [101]:
vaccine2 = []

for td,value in zip(btrs[1:],list_population) :
#     print(type(int((td.find_all("td")[1].text).replace(",",""))))
#     print(td,temp)
    dic= {}
    tds = td.find_all("th")
    tdr = td.find_all("td")
    dic['city'] = tds[0].text
    dic['first_vaccine'] = tdr[1].text
    dic['second_vaccine'] = tdr[3].text
    dic['population'] = value;
    dic['total_vaccine'] = int(tdr[1].text.replace(",",""))+int(tdr[3].text.replace(",",""));
    vaccine2.append(dic)
vaccine2

[{'city': '서울',
  'first_vaccine': '2,838,855',
  'second_vaccine': '964,356',
  'population': 9598484,
  'total_vaccine': 3803211},
 {'city': '부산',
  'first_vaccine': '1,102,085',
  'second_vaccine': '348,253',
  'population': 3372399,
  'total_vaccine': 1450338},
 {'city': '대구',
  'first_vaccine': '652,022',
  'second_vaccine': '214,869',
  'population': 2408875,
  'total_vaccine': 866891},
 {'city': '인천',
  'first_vaccine': '803,775',
  'second_vaccine': '256,066',
  'population': 2936461,
  'total_vaccine': 1059841},
 {'city': '광주',
  'first_vaccine': '430,080',
  'second_vaccine': '148,472',
  'population': 1445473,
  'total_vaccine': 578552},
 {'city': '대전',
  'first_vaccine': '408,215',
  'second_vaccine': '137,644',
  'population': 1458463,
  'total_vaccine': 545859},
 {'city': '울산',
  'first_vaccine': '296,472',
  'second_vaccine': '89,295',
  'population': 1129254,
  'total_vaccine': 385767},
 {'city': '세종',
  'first_vaccine': '78,030',
  'second_vaccine': '25,661',
  'population': 360462,
  'total_vaccine': 103691},
 {'city': '경기',
  'first_vaccine': '3,501,733',
  'second_vaccine': '1,163,425',
  'population': 13465837,
  'total_vaccine': 4665158},
 {'city': '강원',
  'first_vaccine': '553,672',
  'second_vaccine': '183,883',
  'population': 1536399,
  'total_vaccine': 737555},
 {'city': '충북',
  'first_vaccine': '520,689',
  'second_vaccine': '175,815',
  'population': 1595714,
  'total_vaccine': 696504},
 {'city': '충남',
  'first_vaccine': '690,514',
  'second_vaccine': '245,827',
  'population': 2115823,
  'total_vaccine': 936341},
 {'city': '전북',
  'first_vaccine': '656,455',
  'second_vaccine': '233,257',
  'population': 1797450,
  'total_vaccine': 889712},
 {'city': '전남',
  'first_vaccine': '721,691',
  'second_vaccine': '260,697',
  'population': 1844811,
  'total_vaccine': 982388},
 {'city': '경북',
  'first_vaccine': '878,696',
  'second_vaccine': '304,862',
  'population': 2635563,
  'total_vaccine': 1183558},
 {'city': '경남',
  'first_vaccine': '1,010,027',
  'second_vaccine': '337,778',
  'population': 3330463,
  'total_vaccine': 1347805},
 {'city': '제주',
  'first_vaccine': '197,816',
  'second_vaccine': '66,389',
  'population': 673974,
  'total_vaccine': 264205}]

In [105]:
from tkinter import Tk, ttk, Label, Button, Text, END
from tkinter import messagebox

window = Tk()
window.title("백신접종 현황")
window.geometry("400x400")
window.resizable(0,0) #사이즈 조정 안되게함

title="시도별 백신접종 현황"
title_feature = Label(window, text = title, font = ("Calibri", 20))
title_feature.pack(padx = 10, pady = 15) #위치 지정

treeTable = ttk.Treeview(window)
treeTable["columns"] = ("city", "first_vaccine", "second_vaccine", "total_vaccine", "population")
treeTable.column("#0", width = 20, anchor = "center")
treeTable.column("city", width = 30, anchor = "center")
treeTable.column("first_vaccine", width = 60, anchor = "center")
treeTable.column("second_vaccine", width = 60, anchor = "center")
treeTable.column("total_vaccine", width = 60, anchor = "center")
treeTable.column("population", width = 50, anchor = "center")

treeTable.heading("#0", text="No.", anchor = "center")
treeTable.heading("city", text="시도별", anchor = "center")
treeTable.heading("first_vaccine", text="1차 접종현황", anchor = "center")
treeTable.heading("second_vaccine", text="2차 접종현황", anchor = "center")
treeTable.heading("total_vaccine", text="총 접종현황", anchor = "center")
treeTable.heading("population", text="총 인구", anchor = "center")

def setTableItem() :
    treeTable.delete(*treeTable.get_children())
    for idx, report in enumerate(vaccine2) :
        city = report['city']
        first_vaccine = report['first_vaccine']
        second_vaccine = report['second_vaccine']
        total_vaccine = report['total_vaccine']
        population = report['population']
        treeTable.insert("", 'end', iid = None, text = str(idx), values = [city, first_vaccine, second_vaccine, total_vaccine, population])
 
btn1 = Button(window, text = 'Search', bg='black', fg='white')
btn1.place(x=100,y=300, relx = 0.5, width = 60, height = 40)
# photo = PhotoImage(file="/vaccine.jpg")
# pLabel = Label(w, image=photo)
# pLabel.pack(expand=1, anchor=CENTER)

# import thinkter as tk
# def create_window():
#     window = tk.Toplevel(root)
# root = tk.Tk()
# b = tk.Button(root, text="Create new window", command=create_window)
# b.pack()
# root.mainloop()

setTableItem()
treeTable.place(x=10, y=90, width=380, height=200)

from tkinter import *
from tkinter import messagebox

ws = Tk()
ws.title('접종 현황')
ws.geometry('300x300')

def helloMsg(city):
    city= textBox_city.get()
    return messagebox.showinfo('', f'{city} ' )

Label(ws, text='접종현황을 알고싶은 곳을 넣고 enter 키를 누르세요').pack(pady=50)
textBox_city = Entry(ws)
textBox_city.bind('<Return>', helloMsg)
textBox_city.pack()

ws.mainloop()

window.mainloop()

In [43]:
import numpy as np
np.array(population['행정구역(시군구)별'].tolist())
list(np.array(population['행정구역(시군구)별'].tolist()))

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [202]:
import csv
f = open('행정구역_시군구_별__성별_인구수_20210701145504.csv', 'r', encoding= 'cp949')
rdr = csv.reader(f)

for line in rdr:
    print(line)
    
f.close()

['행정구역(시군구)별', '2021. 03', '2021. 03', '2021. 03', '2021. 04', '2021. 04', '2021. 04', '2021. 05', '2021. 05', '2021. 05']
['행정구역(시군구)별', '총인구수 (명)', '남자인구수 (명)', '여자인구수 (명)', '총인구수 (명)', '남자인구수 (명)', '여자인구수 (명)', '총인구수 (명)', '남자인구수 (명)', '여자인구수 (명)']
['전국', '51705905', '25787390', '25918515', '51702100', '25784538', '25917562', '51683025', '25775853', '25907172']
['서울특별시', '9598484', '4667524', '4930960', '9588711', '4661711', '4927000', '9575355', '4654720', '4920635']
['부산광역시', '3372399', '1651804', '1720595', '3369704', '1650252', '1719452', '3367334', '1648965', '1718369']
['대구광역시', '2408875', '1188070', '1220805', '2406296', '1186663', '1219633', '2402940', '1184977', '1217963']
['인천광역시', '2936461', '1470750', '1465711', '2936214', '1470490', '1465724', '2936382', '1470528', '1465854']
['광주광역시', '1445473', '715226', '730247', '1444787', '714834', '729953', '1443154', '714101', '729053']
['대전광역시', '1458463', '728075', '730388', '1457619', '727522', '730097', '1457161', '727279', '729882']
['울산광역시', '1129254', '580424', '548830', '1128163', '579853', '548310', '1127175', '579316', '547859']
['세종특별자치시', '360462', '180030', '180432', '361396', '180462', '180934', '362036', '180778', '181258']
['경기도', '13465837', '6776866', '6688971', '13479798', '6784466', '6695332', '13488910', '6789327', '6699583']
['강원도', '1536399', '773248', '763151', '1536175', '773037', '763138', '1535491', '772893', '762598']
['충청북도', '1595714', '809457', '786257', '1596303', '809679', '786624', '1596955', '809946', '787009']
['충청남도', '2115823', '1080841', '1034982', '2116452', '1081275', '1035177', '2117260', '1081854', '1035406']
['전라북도', '1797450', '893974', '903476', '1796331', '893415', '902916', '1794682', '892833', '901849']
['전라남도', '1844811', '927884', '916927', '1844148', '927667', '916481', '1842423', '927074', '915349']
['경상북도', '2635563', '1327990', '1307573', '2635896', '1328240', '1307656', '2633592', '1327307', '1306285']
['경상남도', '3330463', '1677021', '1653442', '3329623', '1676550', '1653073', '3327298', '1675389', '1651909']
['제주특별자치도', '673974', '338206', '335768', '674484', '338422', '336062', '674877', '338566', '336311']