In [15]:
#4.2 

small = True#!True=big
green = False #!False=not green


if small == True and green !=  False: 
    print("체리는 작고 녹색이 아니다.")
elif small== True and green == False:
     print("완두콩은 작고 녹색이다")
elif small !=True and green == False:
     print("수박은 크고 녹색이다")
else:
     print("호박은 크고 녹색이 아니다.")

완두콩은 작고 녹색이다

In [17]:
print('cat\t', end ='')
print('dog')

cat	dog

In [19]:
start = 'Na' *4 +'\n'
middle = 'Hey' *3 +'\n'
end = 'Goodbye.'
print(start+start+middle+end)

NaNaNaNa
NaNaNaNa
HeyHeyHey
Goodbye.

In [21]:
name = 'Henny'
name.replace('H', 'P')

'Penny'

In [23]:
'P' + name[1:]

'Penny'

In [28]:
print(name[:])

Henny

In [39]:
a='horse'
print(a[:-1])

hors

In [41]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)
print('Found and signing book deals:', crypto_string)

Found and signing book deals: Yeti, Bigfoot, Loch Ness Monster

In [42]:
world = " earth "
world.strip()

'earth'

In [43]:
world.strip(' ')

'earth'

In [44]:
world.lstrip()

'earth '

In [45]:
world.rstrip()

' earth'

In [46]:
blurt = 'What the...!!?'
blurt.strip('We.?!')

'hat th'

In [48]:
print(world)
print('find: ',world.find('w'))#값 없으면 -1로 됨.
print('index: ',world.index('w'))#index는 위치지정, 에러남.

 earth
find:  -1

ValueError: substring not found

In [60]:
a='%s' %42
type(a)

str

In [61]:
'%d%%' % 100

'100%'

In [62]:
actor = 'Richard Gere'
cat = 'Chester'
weight = 28
"My wife's favorite actor is %s" % actor

"My wife's favorite actor is Richard Gere"

In [63]:
"Our cat %s weighs %s pounds" % (cat, weight)

'Our cat Chester weighs 28 pounds'

In [84]:
thing = 'wereduck'
place='werepond'
'The {} is in the {}.'.format(thing, place)#format() 메서드 format_string.format(data)

'The wereduck is in the werepond.'

In [85]:
f'The {thing} is in the {place}'#최신 스타일: f-문자열!

'The wereduck is in the werepond'

In [86]:
f'The {thing.capitalize()} is in the {place.rjust(20)}'

'The Wereduck is in the             werepond'

In [87]:
f'The{thing:>20} is in the {place:.^20}'

'The            wereduck is in the ......werepond......'

In [88]:
f'{thing=},{place=}'

"thing='wereduck',place='werepond'"

In [89]:
f'{thing[-4:]}, {place.title() =}'

"duck, place.title() ='Werepond'"

In [90]:
f'{thing = :>4.4}'

'thing = were'

In [209]:
a = 'Boaty McBoatface'
b = 'Horsey McHorseface'
c = 'Trainy McTrainface'

ad = a.replace('Boat', 'Duck')
bf = b.replace('Horse', 'Gourd')
cg = c.replace('Train', 'Spitz')

In [213]:
print(ad)
print(bf)
print(cg)

Ducky McDuckface
Gourdy McGourdface
Spitzy McSpitzface

In [192]:
#Quiz 1
a = 'duck' #출력 Ducky McDuckyface
b = 'gourd'#출력 Gourdy McGourdface
c = 'spitz'#출력 Spitzy McSpitzface
a = 'duck' #출력 Ducky McDuckyface
b = 'gourd'#출력 Gourdy McGourdface
c = 'spitz'#출력 Spitzy McSpitzface
i
#5.6
English = '%sy Mc%sface' % (a.capitalize(), a.capitalize())
Australian = '%sy Mc%sface' % (b.capitalize(), b.capitalize())
Swedish = '%sy Mc%sface' % (c.capitalize(), c.capitalize())
print(English)
print(Australian)
print(Swedish)

#5.7
submarine = 'an English submarine 이름은 {} Mc{}face'.format(a.capitalize(), a.capitalize())
racehorse = 'an Australian racehorse 이름은 {} Mc{}face'.format(b.capitalize(),b.capitalize())
train = 'an Swedish train 이름은 {}Mc{}face'.format(c.capitalize(),c.capitalize())
print(submarine)
print(racehorse)
print(train)

#5.7 (2)
submarine = 'an English submarine 이름은 {0} Mc{0}face'.format(a.capitalize())
racehorse = 'an Australian racehorse 이름은 {0} Mc{0}face'.format(b.capitalize())
train = 'an Swedish train 이름은 {0}Mc{0}face'.format(c.capitalize())
print(submarine)
print(racehorse)
print(train)

#5.8
newEnglish = f'an English submarine 이름은 {a.capitalize()} Mc{a.capitalize()}face'
newAustralian = f'an Australian racehorse 이름은 {b.capitalize()} Mc{b.capitalize()}face'
newSwedish = f'an Swedish train 이름은 {c.capitalize()} Mc{c.capitalize()}face'
print(newEnglish)
print(newAustralian)
print(newSwedish)

Ducky McDuckface
Gourdy McGourdface
Spitzy McSpitzface
an English submarine 이름은 Duck McDuckface
an Australian racehorse 이름은 Gourd McGourdface
an Swedish train 이름은 SpitzMcSpitzface
an English submarine 이름은 Duck McDuckface
an Australian racehorse 이름은 Gourd McGourdface
an Swedish train 이름은 SpitzMcSpitzface
an English submarine 이름은 Duck McDuckface
an Australian racehorse 이름은 Gourd McGourdface
an Swedish train 이름은 Spitz McSpitzface

In [176]:
while True:
    stuff = input("String to capitalize [q to quit]: ")
    if stuff == "q":
        break
    print(stuff.capitalize())

String to capitalize [q to quit]: test
Test
String to capitalize [q to quit]: winnie the pooh
Winnie the pooh
String to capitalize [q to quit]: Q
Q
String to capitalize [q to quit]: q

In [178]:
while True:
    value = input("Integer, please [q to quit]: ")
    if value == 'q':
        break
    number = int(value)
    if number % 2 ==0:
        continue
    print(number, "squared is", number*number)

Integer, please [q to quit]: 3
3 squared is 9
Integer, please [q to quit]: 2
Integer, please [q to quit]: q

In [184]:
numbers = [1, 3, 5]
position = 0
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print('Found even number', number)
        break
    position +=1
else: # break 문이 호출되지 않은 경우, while 대한 else...
        print('No even number found')

No even number found

In [186]:
word= 'thud'
for letter in word:
    if letter == 'x':
        print("Eek! An 'x'!")
        break
    print(letter)
else:
        print("No 'x' in there.")

t
h
u
d
No 'x' in there.

In [188]:
for x in range(0, 3):
    print(x)

0
1
2

In [190]:
for x in range (2, -1, -1):
    print(x)

2
1
0

In [191]:
word = 'thud'
for letter in word:
    print(letter)

t
h
u
d

In [201]:
num = int(input('구하려는 구구단 입력: '))

for i in range(1,10):
    print(f'{num} x {int(i)} = {num*int(i)}')

구하려는 구구단 입력: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81