In [2]:
a = 'apple'
b = 'banana'
print(a , b) #자동으로 공백 나옴
print(a + ' ' + b)

apple banana
apple banana

In [8]:
list_a = ['0', '1', ['2', '3'], ['4', '5']]

In [15]:
list_a[3][1]

'5'

In [17]:
a_list = [number for number in range(1, 6) if number % 2 ==1]
a_list

[1, 3, 5]

In [20]:
number_thing = (number for number in range(1, 6))#generator 생성됨
print(number_thing)
type(number_thing)

<generator object <genexpr> at 0x000001E55DD4E430>

generator

In [24]:
#7.1
year_list = [1234, 1235, 1236, 1237, 1238, 1239]
# 7.2
print(year_list[2])
# 7.3
print(year_list[-1])

1236
1239

In [28]:
#7.4
things = ['mozzarella', 'cinderella', 'salmonella']
#7.6
things = [x.upper() for x in things]
#things[0] = things[0].title

print(things)

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [110]:
#7.8 
surprise = ["Groucho", "Chico", "Harpo"]
#7.9
surprise[2] = surprise[2].lower() #마지막 문자열 소문자 변경
surprise.sort(reverse=True) # or surprise = surprise[::-1] #단어 뒤집기
surprise[0] = surprise[0].title()
print(surprise)

['Harpo', 'Groucho', 'Chico']

In [49]:
#7.10 
a_list = [number for number in range(10) if number % 2 ==0 ]
a_list

[0, 2, 4, 6, 8]

In [15]:
#7.11
start1 = ["fee", "fie", "foe"]
rhymes = [
    ("flop", "get a mop"),
    ("fope", "turn the rope"),
    ("fa", "get your ma"),
    ("fudge", "call the judge"), 
    ("fat", "pet the cat"), 
    ("fog", "walk the dog"),
    ("fun", "say we're done"),
    ]
start2 = "Someone better"

In [53]:
#첫 번째
for i in start1 :
        print(i.title() +'! ', end='')

Fee! Fie! Foe!

In [44]:
rhymes_list = []

for y in rhymes:
    for x in y:
        rhymes_list.append(x)

print(rhymes_list)

['flop', 'get a mop', 'fope', 'turn the rope', 'fa', 'get your ma', 'fudge', 'call the judge', 'fat', 'pet the cat', 'fog', 'walk the dog', 'fun', "say we're done"]

In [45]:
for i in rhymes_list :
        print(i.title() +'! ', end='')

Flop! Get A Mop! Fope! Turn The Rope! Fa! Get Your Ma! Fudge! Call The Judge! Fat! Pet The Cat! Fog! Walk The Dog! Fun! Say We'Re Done!

In [62]:
print(start2,rhymes_list[1] + '.')

Someone better get a mop.

In [5]:
pythons = {
    'Chapman': 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [7]:
pythons['Gilliam'] ='Gerry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Gerry'}

In [9]:
pythons['Gilliam'] ='Terry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Gilliam': 'Terry'}

In [21]:
some_pythons = {
    'Graham' : 'Chapman' ,
     'John' : 'Cleese'  ,
    'Eric'  : 'Idle',
    'Terry' : 'Gilliam',
    'Michael' : 'Palin' ,
    'Terry' : 'Jones',
    }
some_pythons

{'Graham': 'Chapman',
 'John': 'Cleese',
 'Eric': 'Idle',
 'Terry': 'Jones',
 'Michael': 'Palin'}

In [23]:
some_pythons['John']

'Cleese'

In [26]:
'Groucho' in some_pythons

False

In [28]:
some_pythons.get('John')

'Cleese'

In [30]:
some_pythons.get('Groucho', 'Not a Python')

'Not a Python'

In [54]:
some_pythons.get('Groucho') #지정하지 않으면 None 아무것도 출력하지 않음.

In [55]:
len(pythons) #키 값 쌍이 몇개인지!

6